<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8" />
	@{
		ViewData["Layout"] = "_AdminLayout";
	}
	<title>@ViewData["Title"] - Admin</title>
	<link rel="stylesheet" type="text/css" href="/css/layout.css">
	<link rel="stylesheet" type="text/css" href="/css/admin.css">
</head>

<body>
	<div id="header-div">
		<a href="/">Main</a>
		 | 
		<a href="/about">About</a>
		 | 
		<a href="/search">Search</a>
		 | 
		<a href="/admin">Admin</a>
	</div>

	@RenderBody()

	<div id="footer">

	</div>
</body>
</html>