<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
	@{
		ViewData["Layout"] = "_Layout";
	}
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
	@{
		bool Admin = ITClassProject.LoggedInUser.GetInstance().isAdmin;
		if (Admin)
		{
			<link rel="stylesheet" type="text/css" href="/css/admin.css">
		}
	}
</head>

<body>
    <div id="header-div">
        <a href="/">Main</a>
         | 
        <a href="/about">About</a>
		 | 
		<a href="/search">Search</a>
		@{
			bool isAdmin = ITClassProject.LoggedInUser.GetInstance().isAdmin;
			if (isAdmin) {
				<text> | </text>
				<a href="/admin">Admin</a>
			}
			else {
				<text> | </text>
				<a href="/admin-login">Admin Login</a>
			}
		}
    </div>

    @RenderBody()

    <div id="footer">

    </div>
</body>
</html>