<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
	@{
		ViewData["Layout"] = "_Layout";
	}
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" type="text/css" href="/css/layout.css">
	@{
		if (ITClassProject.LoggedInUser.GetInstance().isAdmin) {
			<link rel="stylesheet" type="text/css" href="/css/admin.css">
		}
	}
</head>

<body>
    <div id="header-div">
        <a href="/">Main</a>
         | 
		<a href="/search">Search</a>
		@{
			if (ITClassProject.LoggedInUser.GetInstance().isAdmin) {
				<text> | </text>
				<a href="/admin">Admin</a>
			}
			if (ITClassProject.LoggedInUser.GetInstance().username == "Guest")
			{
				<text> | </text>
				<a href = "/sign-up" > Sign up </a>
				<text> | </text>
				<a href = "/login" > Log in </a>
			}
		}
    </div>

    @RenderBody()

    <div id="footer">

    </div>
</body>
</html>