div#username-form {
    display: inline-flex;
    margin: 15px;
    line-height: 30px;
}

.title-div {
    background-color: rgba(0, 100, 138, 1);
}

.text-content {
    width: 400px;
    background-color: red;
}