div , #username-form {

}

form, #username-submit-form {
    margin-top: 40px;
    text-align: center;
}

.title-div {
    background-color: rgba(0, 100, 138, 1);
}

.text-content {
    width: 400px;
    background-color: red;
}