#search-user {
    text-align: center;
    line-height: 30px;
}

#admin-explanation {
    font-size: 13px;
    width: 20%;
}

div#admin-explanation, div#search-user {
    display: inline-flex;
    align-content: center;
    align-items: center;
    margin: 4px;
}