div.quote {
    display: inline-flex;
    width: 40%;
    margin-top: 5px;
    margin-bottom: 5px;
    align-items: stretch;
    flex-wrap: wrap;
    background-color: rgba(100, 100, 100, .2);
}

div.quote-details {
    text-align: center;
    width: 100%;
    display: inline-flex;
    justify-content: space-evenly;
    padding: 3px;
    background-color: rgba(0, 148, 255, .6);
    border: solid;
    border-color: rgba(0, 148, 255, 1);
    align-content: center;
    align-items: center;
}

div.quote-content {
    text-align: center;
    margin: 0px;
    width: 100%;
    justify-content: space-evenly;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid;
    border-color: rgba(100, 100, 100, .6);
    border-top-color: rgba(100, 100, 100, 0);
}

div.source {
    width: 80%;
    margin: 0px;
}

textarea {
    resize: none;
}

div.quote-input {
    display: flex;
    flex-direction: column;
    margin: 0px;
}