@page "/about"
@model ITClassProject.Pages.AboutModel

@{
    ViewData["Title"] = "TEMP";
    Layout = "_Layout";
}

<h1>This is the about page</h1>
<p>How enlightening</p>


<form method="post">
    <label for="uName">Name</label>
    <input type="text" id="uName" name="uName"><br>
    <input type="submit" value="Submit user name"><br>
	@Html.AntiForgeryToken()
</form>