@page "/about"
@model ITClassProject.Pages.AboutModel

@{
    ViewData["Title"] = "TEMP";
    Layout = "_Layout";
}
<link rel="stylesheet" type="text/css" href="/css/about.css">

<div class="about-content">
	<div id="username-form">
		<form method="post" autocomplete="off" id="username-submit-form">
			<input type="text" id="uName" placeholder="Username"><br>
			<input type="submit" value="Submit user name" class="submit-button"><br>
			@Html.AntiForgeryToken()
		</form>
	</div>
</div>