@page "/admin"
@model ITClassProject.Pages.AdminModel
@{
	bool Admin = Model.admin;
	ViewData["Title"] = "Admin";
	Layout = "_Layout";
}

@{
	if (Admin) {
		<main id="main-content">
			<div id="admin-explanation">
				<p>
					This is and admin page <br>
					Congratulations! <br>
					You have found it! <br>
					Now go away.
				</p>
			</div>

			<div id="search-user">
				<form method="post" autocomplete="off">
					<label>Delete user</label><br>
					<input type="text" placeholder="Username" name="usernameForDeletion"><br>
					<input type="submit" value="Delete user" class="submit-button"><br>
					@Html.AntiForgeryToken()
				</form>
			</div>
		</main>
	}
	else {
		<main id="main-content">
			<div id="no-access">
				<h1 id="no-access">You do not have access to this page</h1>
			</div>
		</main>
	}
}