@page "/"
@model ITClassProject.Pages.IndexModel

@{
	bool Admin = ITClassProject.Admin.GetInstance().isAdmin;
	ViewData["Title"] = "Search";
	Layout = "_Layout";
	if (Admin)
	{
		Layout = "_AdminLayout";
	}
}

<div>
    <h1>TEST</h1>
</div>