@page "/"
@model ITClassProject.Pages.IndexModel

@{
	bool Admin = ITClassProject.LoggedInUser.GetInstance().isAdmin;
	ViewData["Title"] = "Search";
	Layout = "_Layout";
}

<div>
    <h1>TEST</h1>
</div>