@page "/"
@model ITClassProject.Pages.IndexModel
@{
	ViewData["Title"] = "Main";
	Layout = "_Layout";

}

<link rel="stylesheet" type="text/css" href="/css/main.css" />

<main id="main-content">
	@{
		var quotesDbContext = ITClassProject.Database.Database.GetQuoteDbContext();
		var quotes = quotesDbContext.GetAllQuotes();
		quotes.Reverse();
		foreach (ITClassProject.Database.Models.Quote quote in quotes)
		{
			<div class="quote">
				<div class="quote-details">
					<text>Author: @quote.Author </text>
					<text> | </text>
					<text> Source: @quote.Source </text>
					@{
						if (TempData.Peek("username").ToString() == quote.Author)
						{
							<text> | </text>
							<button type="button">
								Delete
							</button>
							<text> | </text>
							<button type="button" onclick="">
								Edit
							</button>
						}
					}
				</div>

				<div class="quote-content">
					<text>
						@quote.Content
					</text>
				</div>
			</div>
		}
	}
</main>