@page "/login"
@model ITClassProject.Pages.AdminLoginModel
@{
	ViewData["Title"] = "Login";
	Layout = "_Layout";
}

<main id="main-content">
	<form method="post" autocomplete="off">
		<div id="warning">
			@{
				if (Model.usernameNull)
				{
					<text>Username can't be empty!</text>
				}

				if (Model.passwordNull)
				{
					<text>Password can't be empty!</text>
				}

				if (Model.userNotFound)
				{
					<text>User with given username not found!</text>
				}

				if (Model.passwordIncorrect)
				{
					<text>Wrong password!</text>
				}
			}
		</div>
		<input type="text" placeholder="Username" id="username" name="username" maxlength="20"><br>
		<input type="password" placeholder="Password" id="password" name="password"><br>
		<input type="submit" value="Log in">
		@Html.AntiForgeryToken()
	</form>
</main>