@page "/login"
@model ITClassProject.Pages.AdminLoginModel
@{
	ViewData["Title"] = "Login";
	Layout = "_Layout";
}

<main id="main-content">
	@{
		if (Model.usernameNull)
		{
			<h1>Username can't be empty!</h1>
		}

		if (Model.passwordNull)
		{
			<h1>Password can't be empty</h1>
		}

		if (Model.userNotFound)
		{
			<h1>User with given name not found!</h1>
		}

		if (Model.passwordCorrect)
		{
			<h1>Wrong password</h1>
		}
	}
	<form method="post" autocomplete="off">
		<input type="text" placeholder="Username" id="username" name="username" maxlength="20"><br>
		<input type="text" placeholder="Password" id="password" name="password"><br>
		<input type="submit" value="Log in">
		@Html.AntiForgeryToken()
	</form>
</main>