@page "/search"
@model ITClassProject.Pages.SearchModel
@{
	ViewData["Title"] = "Search";
	Layout = "_Layout";
}
<link rel="stylesheet" type="text/css" href="/css/search.css">

<main id="main-content">
	<div id="search-explanation">
		Shaboing
	</div>
	<div id="search-form">
		<form method="get">
			<input type="search" name="q" id="q" placeholder="Search...">
			<input type="submit">
				<img src="https://cdn-icons-png.flaticon.com/512/145/145471.png" width="10">
			</input>
		</form>
	</div>
</main>