@page "/sign-up"
@model ITClassProject.Pages.SignUpModel
@{
	ViewData["Title"] = "Sign up";
	Layout = "_Layout";
}

<main id="main-content">
	<form method="post" autocomplete="off">
		<input type="text" placeholder="Username" id="username" name="username" maxlength="20"><br>
		<input type="text" placeholder="Password" id="password" name="password"><br>
		<input type="text" placeholder="Repeat password" id="rpassword" name="rpassword"><br>
		<input type="submit" value="Sign up">
		@Html.AntiForgeryToken()
	</form>
</main>